.scroll-custom::-webkit-scrollbar {
  width: 0.4em;
}

.scroll-custom::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
}

.scroll-custom::-webkit-scrollbar-thumb {
  background-color: purple;
  /* outline: 1px solid black; */
  border-radius: 10px;
}
